body {
    font-family: "Literata", serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#F2F3E8;
}

table {

    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    
}
 
 th {
    background-color: #F4F1BE;
} 


.logo img{ 
    position:absolute;
    top: 0;
    left: 0;
    max-width: 350px;
    height:auto;
    margin-left: 14px;
    margin-top: 10px;
}

.text-main{
text-align: center;
font-size: 25px;
margin-top: 150px;

}
header.sticky{
    background: #F2F3E8;
    padding: 0px 10%;
    box-shadow: 0px 0px 10px rgb(0, 0,0/10%);
}



