body {
    font-family: "Literata", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#F2F3E8;
}


.logo img{ 
    position:absolute;
    top: 0;
    left: 0;
    max-width: 350px;
    height:auto;
    margin-left: 14px;
    margin-top: 10px;
    }
    

.container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 100px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #EFAD2F;
    color: #fff;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #986f22;
}

